In [31]:
import pandas as pd
import numpy as np

In [3]:
csv_airplane = pd.read_csv('airplane.csv')
csv_airplane

,countrycode,drawing,key_id,recognized,timestamp,word
0,US,"[[[167, 109, 80, 69, 58, 31, 57, 117, 99, 52, ...",5152802093400064,True,2017-03-08 21:12:07.266040,airplane
1,CA,"[[[2, 14, 34, 126], [57, 45, 38, 47]], [[41, 4...",6622904974311424,False,2017-03-06 21:39:04.690130,airplane
2,US,"[[[90, 88, 95, 104, 112, 122], [65, 31, 12, 0,...",6577010312740864,True,2017-03-23 02:08:35.229980,airplane
3,US,"[[[82, 49, 15, 4, 0, 5, 30, 85, 89, 93, 112, 1...",5643224746033152,True,2017-03-10 00:35:17.531970,airplane
4,IL,"[[[64, 38, 23, 8, 0, 6, 26, 68], [74, 77, 84, ...",6670046841536512,True,2017-01-23 18:11:11.658170,airplane
...,...,...,...,...,...,...
151618,US,"[[[22, 8, 0, 28, 50, 112, 184, 204, 228, 248, ...",5493275190362112,True,2017-03-02 14:53:50.225510,airplane
151619,PH,"[[[0, 18, 38, 75], [92, 68, 56, 55]], [[2, 10,...",4804582200836096,True,2017-03-29 15:40:12.818540,airplane
151620,IE,"[[[87, 39, 24, 5, 0, 4, 21, 45, 93, 177, 194, ...",6511303608762368,True,2017-01-24 21:11:31.576440,airplane
151621,US,"[[[186, 82, 37, 20, 7, 1, 0, 3, 16, 29, 137, 2...",4731074292744192,True,2017-01-25 16:45:20.333770,airplane
151622,ES,"[[[76, 3, 17, 141], [41, 68, 67, 46]], [[76, 1...",6323583485739008,True,2017-03-21 12:04:31.544430,airplane

In [8]:
# csv_airplane[csv_airplane.recognized == True]
airplane_list = csv_airplane[csv_airplane.recognized == True]
len(airplane_list)

135823

In [29]:
airplane_list.dtypes

countrycode    object
drawing        object
key_id          int64
recognized       bool
timestamp      object
word           object
dtype: object

In [30]:
print(airplane_list.iloc[0].drawing)
type(airplane_list.iloc[0].drawing)

[[[167, 109, 80, 69, 58, 31, 57, 117, 99, 52, 30, 6, 1, 2, 66, 98, 253, 254, 246, 182, 165], [140, 194, 227, 232, 229, 229, 206, 124, 123, 149, 157, 159, 153, 110, 82, 77, 74, 109, 121, 127, 120]], [[207, 207, 210, 221, 238], [74, 103, 114, 128, 135]], [[119, 107, 76, 70, 49, 39, 60, 93], [72, 41, 3, 0, 1, 5, 38, 70]]]

str

In [32]:
print(np.array(eval(airplane_list.iloc[0].drawing)))

[[list([167, 109, 80, 69, 58, 31, 57, 117, 99, 52, 30, 6, 1, 2, 66, 98, 253, 254, 246, 182, 165])
  list([140, 194, 227, 232, 229, 229, 206, 124, 123, 149, 157, 159, 153, 110, 82, 77, 74, 109, 121, 127, 120])]
 [list([207, 207, 210, 221, 238]) list([74, 103, 114, 128, 135])]
 [list([119, 107, 76, 70, 49, 39, 60, 93])
  list([72, 41, 3, 0, 1, 5, 38, 70])]]

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_14192\3414461567.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  print(np.array(eval(airplane_list.iloc[0].drawing)))